# Copy this file to .env and fill in the values

# The values in this file are used by the docker-compose.yml file to set the environment variables for the containers

# Change the values of the variables below to match your local environment



# Client
CLIENT_PORT=3000

